<div id="<%= dom_id doodad %>">
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Title</p>
    <%= doodad.title %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Url</p>
    <%= doodad.url %>
  </div>
</div>
