<div id="<%= dom_id(slack_integration, :index) %>">
  <%= turbo_stream_from slack_integration %>
  <div class="border border-gray-400 rounded p-6 my-6">
    <div class="flex flex-wrap items-center justify-between">
      <div class="lg:flex-1">
        <h3>📯 Slack Channel</h3>
        <p><%= slack_integration.channel %></p>
      </div>
      <div class="lg:p-0 pt-4">
      <%= link_to "Delete", slack_integration, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
      </div>
    </div>
  </div>
</div>