<div class="border border-gray-400 rounded p-8 my-8">
  <div class="flex flex-wrap items-center justify-between">
    <div class="lg:flex-1">
      <h3><%= title %></h3>
    </div>
    <div class="lg:p-0 pt-4">
      <button class="btn btn-gray mr-2" disabled>Under Construction</button>
    </div>
  </div>
</div>